$lightblue: #F6F8FA;
body {
  background: #fafafa;
  padding: 20px 0;
}
a {
  text-decoration: none;
}
.twitter-stream {
  background: #fff;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 5px;
}
.tweet {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  &:hover {
    background: $lightblue;
  }
}
.tweet:last-of-type {
}
.timestamp {
  color: #ccc;
  font-size: 0.9em;
}
.tweet-author {
  font-weight: bold;
}
.button-container {
  text-align: right;
  margin: 20px 0;
}
.load-more {
  display: block;
  display: none;
  background: rgb(228, 229, 229);
  text-align: center;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background: #eee;
  }
}